<section class="section1">
  <h1 class="title">PhantomCoffee</h1>
  <video autoplay muted loop>
      <source src="coffee.mp4">
      <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
  </video>
</section>
<section class="section2"></section>
<section class="section3"></section>
<section class="section4"></section> 
