<section class="section1">
  <p class="catch">Take you like a Phantom time.</p>
  <h1 class="title">PhantomCoffee</h1>
  <h1 class="title__back">PhantomCoffee</h1>
  <div class="schroll-down">
    <p class="schroll-down__text">please schroll down</p>
    <i class="fas fa-sort-down schroll-down__arrow"></i>
  </div>
  <video autoplay muted loop>
      <source src="Double_Espresso.mp4">
      <p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
  </video>
</section>
  <img class="coffee_img" src="coffee.svg">
<section class="section2">
  <div class="about">
    <h2 class="about__title">おいしさへのこだわり</h2>
    <h3 class="about__title__sub">独自の栽培方法</h3>
    <div class="about__topics">
      <div class="about__topics__text">
        <p class="about__topics__text__string">
        細心の注意が必要とされるモンスーン処理は、南西のモンスーンと呼ばれる季節風が最も強い時期の6月から9月にかけて、熱帯の沿岸で行われます。
        厳選されたコーヒーチェリーを振り分けたあと、それぞれを乾燥させ、皮を剥き、緑色の生豆の状態にします。 その後、広く風通しのいい倉庫に移動させ、床一面に広げて大気から水分を吸収させます。
        </p>
        <p class="about__topics__text__string">
        「PhantomCoffee【ファントムコーヒー】」は一体どんな味だと思われますか。 それはきっと、かつてのヨーロッパで飲まれていたものと同じ位、複雑で豊かなアロマを持つコーヒーです。木のような、スパイシーな香りで、力強い味わい。 「ロブスタ」というコーヒー豆には多くの可能性があると同時に、常に興味や関心をもつことが大切だということを、私たちに教えてくれました。
        </p>
      </div>
      <div class="about__topics__img">
      </div>
      
    </div>
  </div>
</section>

<section class="section3">
  <h2 class="title">LINEUP</h2>
</section>

  <img class="mill_img" src="mill.png">

<section class="section4">
  <h3 class="title">商品ラインナップ</h3>
  <div class="lineup">
    <div class="lineup__card">
      <div class="lineup__card__img">
      </div>
      <h4 class="lineup__card__name">PhantomCoffee【500g】</h4>
      <p class="lineup__card__text">PhantomCoffee20杯分</p>
      <p class="lineup__card__text">まずはお試しの方はこちら</p>
      <p class="lineup__card__price">¥1020+tax</p>
      <button class="lineup__card__button">購入する</button>
    </div>
    <div class="lineup__card">
      <div class="lineup__card__img">
      </div>
      <h4 class="lineup__card__name">PhantomCoffee【1kg】</h4>
      <p class="lineup__card__text">PhantomCoffee40杯分</p>
      <p class="lineup__card__text">通常パックはこちら</p>
      <p class="lineup__card__price">¥2040+tax</p>
      <button class="lineup__card__button">購入する</button>
    </div>
    <div class="lineup__card">
      <div class="lineup__card__img">
      </div>
      <h4 class="lineup__card__name">PhantomCoffee【2kg】</h4>
      <p class="lineup__card__text">PhantomCoffee80杯分</p>
      <p class="lineup__card__text">毎日飲む方はお得な大容量パック</p>
      <p class="lineup__card__price">¥3500+tax</p>
      <button class="lineup__card__button">購入する</button>
    </div>
  </div>
</section> 
