@import "_variable.scss";
@import "_colors.scss";

.footer{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  &__text{
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
  }
}